---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Quickstart from '../components/Quickstart.astro';
import HowItWorks from '../components/HowItWorks.astro';
import FeatureOrgChart from '../components/FeatureOrgChart.astro';
import FeatureGoalAlignment from '../components/FeatureGoalAlignment.astro';
import FeatureHeartbeats from '../components/FeatureHeartbeats.astro';
import FeatureCosts from '../components/FeatureCosts.astro';
import FeatureMultiCompany from '../components/FeatureMultiCompany.astro';
import Governance from '../components/Governance.astro';
import WhatItsNot from '../components/WhatItsNot.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Quickstart />
    <HowItWorks />
    <FeatureOrgChart />
    <FeatureGoalAlignment />
    <FeatureHeartbeats />
    <FeatureCosts />
    <FeatureMultiCompany />
    <Governance />
    <WhatItsNot />
    <CTA />
  </main>
  <Footer />
</Layout>
